html, body, #root {
    height: 100%;
    min-height: 100%;
}
body,.wrapper {
    background-color: #ecf0f5;
    
}
footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

/* Admin CSS overrides */
.skin-purple .sidebar-menu > li > a {
    border-left: 7px solid transparent;
}

.modal-header {
    background-color: #ffc468;
    /* color: #fff; */
}
.modal-footer {
    text-align: center;
}